<template>
    <div class="footer">
        FOOTER
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
    .footer {
        display: flex;
        align-items: center;
        justify-content: center; 

        width: 100%;
        height: 300px;
        background-color: #2C2C2C;

        color: beige;
    }
</style>
