<template>
    <div class="header">
        AVOCADO BLOG
    </div>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>
    .header {
        display: flex;
        position: fixed;

        align-items: center;
        justify-content: center; 

        background-color: #2c2c2c;

        width: 100%;
        height: 80px;

        color: beige;

        text-align: center;
    }
</style>